html {
  scroll-snap-type: y mandatory;
}

body {
  font-family: 'DM Sans', sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.progress {
  position: fixed;
  left: 0;
  right: 0;
  height: 5px;
  background: var(--accent);
  bottom: 100px;
}

.parallax {
  overflow: hidden;
  /* letter-spacing: -2px; */
  line-height: 0.8;
  margin: 0;
  /* white-space: nowrap; */
  display: flex;
  /* flex-wrap: nowrap; */
}

.parallax .scroller {
  /* font-weight: 600; */
  /* text-transform: uppercase; */
  /* font-size: 64px; */
  display: flex;
  /* white-space: nowrap; */
  display: flex;
  /* flex-wrap: nowrap; */
}

.parallax span {
  display: block;
  margin-right: 30px;
}

.path-0 {
  animation: pathAnim-0 4s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

@keyframes pathAnim-0 {
  0% {
    d: path(
      'M 0,500 L 0,187 C 149.60714285714286,209.46428571428572 299.2142857142857,231.92857142857142 400,216 C 500.7857142857143,200.07142857142858 552.7500000000001,145.75 663,141 C 773.2499999999999,136.25 941.7857142857142,181.07142857142858 1081,197 C 1220.2142857142858,212.92857142857142 1330.107142857143,199.96428571428572 1440,187 L 1440,500 L 0,500 Z'
    );
  }
  25% {
    d: path(
      'M 0,500 L 0,187 C 136.28571428571428,173.46428571428572 272.57142857142856,159.92857142857142 397,162 C 521.4285714285714,164.07142857142858 634,181.75 759,197 C 884,212.25 1021.4285714285716,225.07142857142858 1137,223 C 1252.5714285714284,220.92857142857142 1346.2857142857142,203.96428571428572 1440,187 L 1440,500 L 0,500 Z'
    );
  }
  50% {
    d: path(
      'M 0,500 L 0,187 C 149,217.85714285714286 298,248.71428571428572 424,219 C 550,189.28571428571428 652.9999999999999,99 768,96 C 883.0000000000001,93 1010,177.2857142857143 1124,207 C 1238,236.7142857142857 1339,211.85714285714283 1440,187 L 1440,500 L 0,500 Z'
    );
  }
  75% {
    d: path(
      'M 0,500 L 0,187 C 161.03571428571428,212.46428571428572 322.07142857142856,237.92857142857142 416,207 C 509.92857142857144,176.07142857142858 536.7499999999999,88.75 652,97 C 767.2500000000001,105.25 970.9285714285716,209.07142857142856 1117,240 C 1263.0714285714284,270.92857142857144 1351.5357142857142,228.96428571428572 1440,187 L 1440,500 L 0,500 Z'
    );
  }
  100% {
    d: path(
      'M 0,500 L 0,187 C 149.60714285714286,209.46428571428572 299.2142857142857,231.92857142857142 400,216 C 500.7857142857143,200.07142857142858 552.7500000000001,145.75 663,141 C 773.2499999999999,136.25 941.7857142857142,181.07142857142858 1081,197 C 1220.2142857142858,212.92857142857142 1330.107142857143,199.96428571428572 1440,187 L 1440,500 L 0,500 Z'
    );
  }
}

@media screen and (min-width: 1440px) {
  .nav {
    max-width: 85rem;
  }

  .features {
    width: 19rem;
  }

  .template {
    display: grid;
    grid-template-columns: repeat(5, minmax(0, 1fr));
  }
}
